*.pyc
*.swp
.coverage
world/data/*
compiler.jar
GeoIP.dat
static/*
htmlcov
.sass-cache/*
main/scss/.sass-cache/*
routes/static/css/main.css
routes/static/css/mobile.css
routes/static/css/tablet.css
routes/static/css/main.css.map
routes/static/css/mobile.css.map
routes/static/css/tablet.css.map
routes/static/css/3p/Font-Awesome-4.2.0/
routes/static/tmp/
routes/static/css/3p/fonts/
routes/static/css/3p/bootstrap3.3/
routes/static/js/3p/bootstrap.min.js
.ropeproject
